<!-- templates/user_detail.html -->
{% extends "base.html" %}

{% block title %}detail{% endblock title %}

{% block content %}
<h1>ユーザー情報詳細</h1>
{% include "includes/message.html" %}
<h4>
    {{ request.user.username }}さんのユーザー情報です<br>
    変更は下記からどうぞ
</h4>
<p>ユーザー名<br>{{ request.user.username }}</p>
<p>メールアドレス<br>{{ request.user.email }}</p>
<ul>
    <li><a href="{% url 'edit' %}">ユーザー情報変更はこちら</a></li>
    <li><a href="{% url 'password_change' %}">パスワード変更はこちら</a></li>
    <li><a href="{% url 'user_home' %}">ホームへ戻る</a></li>
    <li><a href="{% url 'logout' %}">ログアウト</a></li>
</ul>
{% endblock %}