{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block content %}

<h1>英和と和英辞典だよ</h1>
<form method="get" action="{% url 'search' %}">
    <input type="text" name="query" value="{{ query }}" placeholder="英語または日本語で検索">
    <button type="submit">検索</button>
</form>
{% if results %}
<h3>検索結果</h3>
{% for result in results %}
<ul>
    <li>英語：{{ result.english }}</li>
    <li>日本語：{{ result.japanese }}</li>
    <li>品詞：{{ result.part_of_speech }}</li>
    {% if result.phrase %}
    <li>成句：{{ result.phrase }}</li>
    {% endif %}
</ul>
{% endfor %}
{% else %}
<p>見つかりませんでした</p>
{% endif %}
<a href="{% url 'detail' %}">詳細</a>
<a href="{% url 'logout' %}">ログアウト</a>
<a href="{% url 'contact' %}">問い合わせ</a>
<a href="{% url 'search' %}">辞書機能</a>
{% endblock %}