{% extends "base.html" %}
{% block content %}
<h2>復習モード</h2>
<h5>{% if review_progress.mode == 'en' %}英訳モード{% else %}和訳モード{% endif %}</h5>
{% include "templates/includes/message.html" %}
<h4>解答</h4>
<p>英語：{{ current_question }}</p>
<p>日本語：{{ current_question.japanese }}</p>
<p>品詞：{{ current_question.part_of_speech }}</p>
<p>成句：{% if current_question.phrase %}{{ current_question.phrase }}{% else %}未登録{% endif %}</p>

<form method="POST" action="{% url 'review_quiz' review_progress.id %}">
    {% csrf_token %}
    <p><button type="submit">次の問題へ</button></p>
</form>
<form method="POST" action="{% url 'pause_review' review_progress.id %}">
    {% csrf_token %}
    <p><button type="submit">中断してホームへ戻る</button></p>
</form>
<p><a href="{% url 'detail' %}">ユーザー情報はこちら</a></p>
<p><a href="{% url 'user_home' %}">ホームへ戻る</a></p>
<p><a href="{% url 'logout' %}">ログアウト</a></p>
{% endblock %}