{% extends "base.html" %}
{% block content %}
<h2>単語帳モード</h2>
<h5>{{ level.name }}クラス</h5>
<h5>{% if mode == 'en' %}英訳モード{% else %}和訳モード{% endif %}</h5>
<h6>クイズ画面</h6>
{% comment %} 実装確認のために出力 {% endcomment %}
<ul>
    <li>{{ current_question }}</li>
    <li>{{ current_question.japanese }}</li>
    <li>{{ current_question.part_of_speech }}</li>
</ul>

<h6>第{{ question_index | add:1 }}問</h6>

{% if mode == 'en' %}
{% comment %} 英訳モード {% endcomment %}
    <p>次の日本語を英訳してください</p>
    <p>日本語：{{ current_question.japanese }}</p>
    <form method="post">
        {% csrf_token %}
        <p><input type="text" name="answer" id='answer' placeholder='回答を入力'></p>
        <p><button type="submit">回答する</button></p>
    </form>
{% else %}
{% comment %} 和訳モード {% endcomment %}
    <p>次の英語を和訳してください</p>
    <p>英語：{{ current_question }}</p>
    <form method="post">
        {% csrf_token %}
        <p><input type="text" name="answer" id='answer' placeholder='回答を入力'></p>
        <p><button type="submit">回答する</button></p>
    </form>
{% endif %}

<p><a href="{% url 'detail' %}">ユーザー情報はこちら</a></p>
<p><a href="{% url 'user_home' %}">ホームへ戻る</a></p>
<p><a href="{% url 'logout' %}">ログアウト</a></p>
{% endblock %}