<!-- templates/flashcard/select_quiz.html -->
{% extends "base.html" %}
{% block content %}
<h2>単語帳モード</h2>
{% if user_progress %}
<p>クイズを最初から始めますか？それとも前回の続きから始めますか？</p>
{% else %}
<p>クイズを最初から始めます!!</p>
{% endif %}
<form method="post">
    {% csrf_token %}
    <p><button type="submit" name="quiz_mode" value="new">最初から</button></p>
    {% if user_progress %}
    <p><button type="submit" name="quiz_mode" value="continue">前回の続きから</button></p>
    {% endif %}
</form>
<p><a href="{% url 'detail' %}">ユーザー情報はこちら</a></p>
<p><a href="{% url 'user_home' %}">ホームへ戻る</a></p>
<p><a href="{% url 'logout' %}">ログアウト</a></p>


{% comment %} <h2>単語帳モード</h2>
<h5>{{ level.name }}クラス</h5>
<h5>{% if mode == 'en' %}英訳モード{% else %}和訳モード{% endif %}</h5>
<h6>全{{ num_questions }}問</h6>
{% if user_progress %}
<p>クイズを最初から始めますか？それとも前回の続きから始めますか？</p>
{% else %}
<p>クイズを最初から始めます!!</p>
{% endif %}
<form method="post">
    {% csrf_token %}
    <p><button type="submit" name="quiz_mode" value="new">最初から</button></p>
    {% if user_progress %}
    <p><button type="submit" name="quiz_mode" value="continue">前回の続きから</button></p>
    {% endif %}
</form>
<p><a href="{% url 'detail' %}">ユーザー情報はこちら</a></p>
<p><a href="{% url 'user_home' %}">ホームへ戻る</a></p>
<p><a href="{% url 'logout' %}">ログアウト</a></p> {% endcomment %}
{% endblock %}

