{% extends "base.html" %}
{% block content %}
<h2>単語帳モード</h2>
<h5>{{ level.name }}クラス</h5>
<h5>{% if mode == 'en' %}英訳モード{% else %}和訳モード{% endif %}</h5>
<h6>出題数を選択してください</h6>
<form method="post">
    {% csrf_token %}
    <div>
        <p><button type="submit" name="num_questions" value="3">3問</button></p>
        <p><button type="submit" name="num_questions" value="5">5問</button></p>
    </div>
</form>
<p><a href="{% url 'detail' %}">ユーザー情報はこちら</a></p>
<p><a href="{% url 'user_home' %}">ホームへ戻る</a></p>
<p><a href="{% url 'logout' %}">ログアウト</a></p>
{% endblock %}